.logo {
  display: inline-block;
  text-justify: center;
  // width: fit-content;
  // height: fit-content;
  // left: 50%;
  // transform: translateX(-50%);
}

.logo__image {
  display: inline-block;
}
