@use "../global/bootstrap.scss" as *;

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px;
  text-decoration: none;
  display: block;

  &--social {
    padding: 12px;
    width: 48px;
    height: 48px;
  }

  &--social:active img {
    opacity: 0.3;
  }
}
